ul.slick-dots {
  position: absolute;
  bottom: 8%;
  left: 0;
  padding-left: 4vw;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}

.slick-dots li button:before {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  content: '';
}

.slick-dots li button {
  width: 25px;
  height: 25px;
}

.slick-dots li {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.slick-dots.dispatch:before {
  content: 'dispatch';
  padding-top: 4px;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-dots.womens:before {
  content: "women's mecca";
  padding-top: 4px;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-dots.kstar:before {
  content: 'k-star';
  padding-top: 4px;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-dots.terroir:before {
  content: 'terroir';
  padding-top: 4px;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-slider > .slick-list {
  height: 100vh !important;
}

.slick-arrow {
  display: block !important;
}

.slick-arrow.slick-prev {
  position: absolute;
  top: 10px;
  left: 2vw;
  bottom: 0;
  z-index: 1;
}

.slick-arrow.slick-next {
  position: absolute;
  top: 10px;
  right: 13vw;
  bottom: 0;
  z-index: 1;
}

.slick-arrow.slick-prev:hover::before {
  background-image: url(./asset/left.svg);
}

.slick-arrow.slick-next:hover::before {
  background-image: url(./asset/right.svg);
}

.slick-prev::before {
  background-repeat: no-repeat;
  background-position: left;
  background-size: calc(30px + (40 - 30) * ((100vw - 420px) / (1024 - 420)));
  width: 10vw;
  height: 100vh;
  display: inline-block;
  content: '';
}
.slick-next::before {
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(30px + (40 - 30) * ((100vw - 420px) / (1024 - 420)));
  width: 10vw;
  height: 100vh;
  display: inline-block;
  content: '';
}

@media screen and (max-width: 420px) {
  .slick-dots.dispatch:before {
    padding-top: 2px;
  }

  .slick-dots.womens:before {
    padding-top: 2px;
  }

  .slick-dots.kstar:before {
    padding-top: 2px;
  }

  .slick-dots.terroir:before {
    padding-top: 2px;
  }

  .slick-dots li button:before {
    width: 13px !important;
    height: 13px !important;
  }
  .slick-dots li button {
    width: 13px !important;
    height: 13px !important;
  }
  .slick-dots li {
    width: 13px !important;
    height: 13px !important;
    margin: 0 2px;
  }
  .slick-dots li button {
    padding: 0;
  }
}

@media screen and (max-width: 526px) {
  .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .slick-dots li button:before {
    width: 20px;
    height: 20px;
  }
  .slick-dots li button {
    width: 20px;
    height: 20px;
  }
  .slick-dots li {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  .slick-dots li {
    margin-right: 4px;
  }
}
