.slick-dots {
  position: absolute;
  bottom: 8%;
  right: 25%;
}

.slick-dots li button:before {
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-dots.dispatch:before {
  content: 'dispatch';
  width: 10vw;
  vertical-align: -0.5vh;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-dots.womens:before {
  content: "women's mecca";
  width: 10vw;
  vertical-align: -0.5vh;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-dots.kstar:before {
  content: 'k-star';
  width: 10vw;
  vertical-align: -0.5vh;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-dots.terroir:before {
  content: 'terroir';
  width: 10vw;
  vertical-align: -0.5vh;
  padding-right: 1vw;
  font-family: WigrumBold;
  font-size: calc(11pt + (16 - 11) * ((100vw - 420px) / (1024 - 420)));
}

.slick-slider > .slick-list {
  height: 100vh !important;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-prev {
  left: 5vw;
}

.slick-next {
  right: 5vw;
}

.slick-arrow {
  display: none !important;
}

.slick-prev::before {
  content: url(./asset/left.svg);
}
.slick-next::before {
  content: url(./asset/right.svg);
}

.slick-slider:hover .slick-arrow {
  display: block !important;
}

@media screen and (max-width: 420px) {
  .slick-dots li {
    margin: 0;
  }
  .slick-dots li button {
    padding: 0;
  }
  .slick-dots.womens {
    padding-left: 11vw;
  }
  .slick-dots.dispatch {
    padding-left: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .slick-dots li {
    margin: 0;
  }
}
